/* Базові стилі */

body {
  background-color: #fff;

  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

section {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media only screen and (min-width: 1440px) {
  section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
